#TopContainer {
    text-align: center;
}

#abtContainer {
    width: 100%;
    background: linear-gradient(rgb(199, 199, 250), pink);
    padding-top: 50px;
    height: 100vh;
}

#container {
    display: flex;
    justify-content: space-evenly;
    justify-content: center;
    width: 80%;
    margin: auto;
}

#container div {
    justify-content: center;
}

#leftCon {
    display: grid;
    justify-content: center;
}

#logo {
    width: 40px;
    height: 40px;
    margin-left: 250px;
}