#motherContainer{
    text-align: center;
    background: linear-gradient(rgb(199, 199, 250), pink);
}
#dataMap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
    justify-content: space-evenly;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
}

#ApiproductIMG {
    width: 400px;
    height: 250px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 10px;
}

#productDiv {
    border: 2px solid;
    height: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

#title {
    font-size: 18px;
    font-weight: bold;
}
#rateDiv{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    line-height: 20px;
    gap: 20px;
}

#ratingStar {
    width: 20px;
    height: 20px;
}
#cartBTN{
    background-color: rgb(88, 85, 85);
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}
#cartBTN:hover{
background-color: green;
box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.price{
    font-weight: bold;
}


#GoToCartBtn{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
    background-color: green;
    color: white;
}

